/* Common */
*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0 100px;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */

#site_header{
    height: 120px;
    background-color: white;
}

.logo{
    height: 50%;
    background-color: yellow;
}

.menu{
    height: 50%;
    background-color:bisque;
}

/* Main */

.content{
    height: 600px;
    background-color: rgba(253, 255, 165, 1);
    position: relative;
    
}

.content-text{
    height: 150px;
    width: 55%;
    background-color: red;
    position: absolute;
    left: 50px;
    bottom: 100px;
}

.leadership{
    height: 60px;
    background-color: aqua;
    margin: 20px 0px;
}

.articles{
    height: 600px;
    background-color: rgb(251, 255, 0);
}

.article-img{
    width: 25%;
    height: 230px;
    background-color: brown;
    float: left;
}

#site_footer{
    height: 70px;
    background-color: blueviolet;
}

.row > div{
    width: 50%;
    height: 230px;
    background-color: rgb(255, 184, 184);
    float: left;
}
/* Footer */